h1 {
    text-align: center;
    margin: 24px;
    color: whitesmoke;
    font-size: 48px;
}

.profile-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.profile-list ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-item {
    list-style: none;
    margin: 16px;
}

.card-content {
    padding: 16px;
    background-color: #1e272e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid whitesmoke;
    color: whitesmoke;
    border-radius: 18px;
    text-align: center;
    width: 200px;
    transition: box-shadow 0.3s;
}

.card-content:hover {
    box-shadow: 0 4px 8px white;
}

.avatar-profile-card {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 16px;
}

h3 {
    margin: 8px 0;
}

h3 a {
    text-decoration: none;
    color: whitesmoke;
}

p {
    margin: 8px 0;
    font-size: 14px;
    color: #ccc;
}